<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Already Exists</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-image: url("https://t4.ftcdn.net/jpg/02/93/73/01/240_F_293730150_uqGTY0JxasJzFqBMhFpACRDPeygQG1G1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-top: 0;
            color: #888888;
        }

        p {
            margin-bottom: 20px;
        }

        .button-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>USER ALREADY EXISTS WITH THAT USER ID</h1>
        <p>SUGGESTION: YOU MUST TRY A UNIQUE USERNAME</p>
        <p><a href="/register" class="button-link">Try another</a></p>
    </div>
</body>

</html>
