<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No URL Found</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            background-image: url("https://t4.ftcdn.net/jpg/02/93/73/01/240_F_293730150_uqGTY0JxasJzFqBMhFpACRDPeygQG1G1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .container {
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-top: 0;
            color: #888888;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1>THERE IS NO URL CORRESPONDING TO THE INFO YOU ENTERED</h1>
        <p>PLEASE CREATE ONE OR TRY SEARCHING FOR ANOTHER </p>
        <form action="/goback" method="POST" class="my-5">
            <input type="hidden" name="username" value="<%= username %>">
            <button class="btn btn-success" type="submit">Search Another</button>
        </form>
        <br>
        <form action="/logout" method="get" class="my-5">

            <button class="btn btn-success" type="submit">logout</button>
        </form>


    </div>


</body>

</html>